*{
    padding:0px;
    margin:0px;
}

.menu{
margin:0 auto;
position: fixed;
width: 80%;
height: 8%;
padding-bottom: 1em;
left:10%;
bottom: 0;
border:1px solid;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
background-color: rgba(211, 236, 240, 0.5);
text-align:center;/*Aliinear imagenes*/
}

.crecer, .rotar{
    text-align: center;
    width: 4%;
    padding: .5em 3%;

    transition: transform;
    transition-duration: .5s;
}

.crecer:hover{
    transform:scale(1.75) translateY(-10px);
}

.rotar:hover{
    transform: scale(1.75) translateY(-10px) rotate(360deg);
}