////START COLORS//////
$amarillo: #FFCE00;
$azul: #009EFF;
$morado:#642B73;
$negro: #000000;
$blanco: #FFFFFF;
//$gradiente-menu: linear-gradient(#360033,#0b8793);
///END COLORS////////

//START BREAKPOINTS SIZES//
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
///END BREAKPOINTS SIZES///