* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html,
body {
    width: 100%;
    height: 100%;
}

.container {
    height: 100%;

}

header h1 {
    text-align: center;
    margin: .5em;
}

nav {
    background-color: slateblue;
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

nav .menu-item {
    float: left;
    color: white;
    padding: 0 5%;
}

.sidebar {
    background-color: slateblue;
    float: left;
    height: 1300px;
    min-height: 100%;
    width: 16%;
    min-width: 120px;

}

.sidebar .menu-item {
    color: white;
    padding: 1em;
}

section {    
    display:flex;
    justify-content: center; /*Horizontal*/
    overflow: hidden;    /*Colocar en el contenedor del contenido para poner sidebar de tamaño completo*/
}
.courses{
    margin-bottom:1em;
}
.course{
    float:left;
    border:1px solid black;
    border-radius: .5em;
    text-align:center;
    width:30%;
    min-width: 100px;
    overflow:hidden;
    padding:1em;
}

.course img{
    width: 50%;
}
.articles article{
    float:left;
    width:30%;
    min-width: 100px;
}
footer {
    clear: both;
    position: relative;
    background-color: darkgray;
    bottom: 0;
    width: 100%;
    height: 4em;
    padding: 1em;
    text-align: center;
}