*{
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
}

html,body{
    width: 100%;
    height: 100%;
}
.container{
    height:100%;
    
}
header h1{
    text-align: center;
    margin:.5em;
}

nav{
    background-color:slateblue;
    width:100%;
    height:4em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:1em;
}
nav .menu-item{
    float:left;
    color:white;
    padding:0 5%;
}

.sidebar{
    background-color:slateblue;
    float:left;
    height: 100%;
    min-height: 100%;
    width: 13%;
}

.sidebar .menu-item{
    color:white;
    padding:1em;
}

section{
    float:right;
    height: 100%;
    width:calc(100% - 13%);
}
footer{
    clear:both;
    position:relative;
    background-color: darkgray;
    bottom:0;
    width: 100%;
    height: 4em;
    padding:1em;
    text-align:center;
}
