body{
    background-color: lightblue;
    color:grey;
}
.parrafo_especial{
    color:green;
    font-size:0.8em;
    font-style: italic;
}

.parrafo_azul{
    color:blue;
    font-size:1.2em;
}
h1,h2{
    color:red;
}