$ancho:1024px;
$colors:(red,green,blue);

@for $i from 1 through length($colors) {
	div:nth-child(#{length($colors)}n+#{$i}) {
		background: nth($colors, $i);
	}
}


.mitad{
    width: $ancho/2;
    height: 1rem;
    // background-color: red;
}
.cuarto{
    width: $ancho/4;
    height: 1rem;
    // background-color: green;
}
.octavo{
    width: $ancho/8;
    height: 1rem;
    // background-color: blue;
}