@keyframes animate {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    40% {
        transform: translateY(0px)rotate(0deg);
    }

    50% {
        transform: translateY(-130px)rotate(180deg);
    }

    60% {
        transform: translateY(0px)rotate(360deg);
    }

    100% {
        transform: translateY(0px)rotate(360deg);
    }

}