/////// START COLORS //////
$gris: #f2f2f2;
$blanco: #fff;
$negro: #000;
$main_color:#33c3f0;
$second_color:#741d51;
$third_color:#e44e52;
/////// END COLORS ////////

/////// START FONTS ///////
$main_font:"Raleway",sans-serif;
/////// END FONTS /////////