/////// START COLORS //////
$gris: #f2f2f2;
$blanco: #fff;
$negro: #000;
$principal:#33c3f0;
$secundario:#741d51;
$terciario:#e44e52;
/////// END COLORS ////////

/////// START FONTS ///////
$fuente_principal:"Raleway",sans-serif;
/////// END FONTS /////////


//START BREAKPOINTS SIZES//
$telefono: 400px;
$tablet: 768px;
$desktop: 1024px;
///END BREAKPOINTS SIZES///