* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
    color: white;
    height: 75px;
}

section {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    padding: 0.25em;
    flex:1 1 0;
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0; */
    margin: 0.5em;
    padding: 0.5em;
    background-color: darksalmon;
}
article:nth-of-type(3){
    flex:3 3 0;
    /* flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 0; */
}
footer {
    background-color: darkcyan;
    color: white;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}